<mat-toolbar>Rol</mat-toolbar>
<router-outlet></router-outlet>

<mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

    <ng-container matColumnDef="rol">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.nombre}} </mat-cell>
    </ng-container>
  
    <ng-container matColumnDef="acciones">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Acciones </mat-header-cell>
      <mat-cell *matCellDef="let element"> 
        <button mat-button color="primary" [routerLink]="['edicion', element.idRol]">
              <mat-icon>ballot</mat-icon>
          </button>
      </mat-cell>
    </ng-container>
  
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  
</mat-table>
  
<mat-paginator [pageSize]="10"  [pageSizeOptions]="[5, 10, 25, 100]" [length]="cantidad" (page)= "mostrarMas($event)"></mat-paginator>