.example-container{
    display: flex;
}

.select{
    float: left;
}

.sub-div{
    margin: 2%;
    width: 40%;
    display: flex;
    flex-direction: column;
    float: left;
}

.invalido{
    color: red;
}

.boton{
    width: 25%;
}