<div class="example-container">
    <div class="sub-div">
        <mat-form-field>
            <input matInput disabled #inputMenu>
        </mat-form-field>

        <p>Roles Actuales</p>
        <div *ngFor="let rol of menu.roles">
            <p>{{rol.nombre}}</p>
        </div>
    </div>

    <div class="sub-div">
        
       <div class='select'>
            <mat-form-field>
                <mat-select placeholder="Seleccione Rol" [(ngModel)]="rolSeleccionado">
                 <mat-option *ngFor="let r of (roles$ | async)" [value]="r">{{r.nombre}}</mat-option>
                </mat-select>
            </mat-form-field>
    
            <button class="boton" mat-raised-button color="primary" (click)="agregarRol()">Agregar Rol</button>
       </div>

        <p>Nuevos Roles</p>
        
        <mat-list role="list">
            <mat-list-item role="lisitem" *ngFor="let r of rolesSeleccionados; let i = index">
                {{i+1}} {{r.nombre}}
                <button mat-raised-button color="warn" (click)="removerRol(i)">Remover</button>
            </mat-list-item>
        </mat-list>

        <button class="boton" mat-raised-button color="primary" (click)="aceptar()">Aceptar</button>

        <button class="boton" mat-raised-button color="accent" routerLink='/pages/menu-rol' type="button">
            <mat-icon>close</mat-icon>
            <span>Cancelar</span>
        </button>
    </div>

</div>
