.example-container{
    display: flex;
    /*flex-direction: column;*/
}

.select{
    float: left;
}

.sub-div{
    width: 50%;
    display: flex;
    flex-direction: column;
    float: left;
}

.invalido{
    color: red;
}

.boton{
    width: 25%;
}