<router-outlet></router-outlet>
<div [hidden]="verificarHijos()">
  <div class="example-header">
    <mat-form-field>
      <input matInput (keyup)="filtrar($event)" placeholder="Buscar signo vital por nombre del paciente">
    </mat-form-field>
  </div>
  
  
  <mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
  
    <ng-container matColumnDef="paciente">
      <mat-header-cell *matHeaderCellDef> Paciente </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.paciente.nombres | uppercase }} {{element.paciente.apellidos}}
      </mat-cell>
    </ng-container>
  
    <!-- FECHA SIGNO VITAL -->
    <ng-container matColumnDef="fecha">
      <mat-header-cell *matHeaderCellDef> Fecha </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.fecha | date:'dd-MM-yyyy hh:mm:ss a'}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="temperatura">
      <mat-header-cell *matHeaderCellDef> Temperatura </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.temperatura}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="pulso">
      <mat-header-cell *matHeaderCellDef> Pulso </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.pulso }}</mat-cell>
     </ng-container>

    <ng-container matColumnDef="ritmoCardiaco">
      <mat-header-cell *matHeaderCellDef> Ritmo Cardiaco </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.ritmoCardiaco}}</mat-cell>
    </ng-container>

    <!-- ACCIONES -->
    <ng-container matColumnDef="acciones">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Acciones </mat-header-cell>
      <mat-cell *matCellDef="let element"> 
        <!--router link esta permitiendo navegar del padre y con la coma el elemento donde se esta navegando(id)-->
          <button mat-button color="primary" [routerLink]="['edicion', element.idSignoVital]">
              <mat-icon>ballot</mat-icon>
          </button>
          <button  mat-button color="accent" (click)="eliminar(element.idSignoVital)">
              <mat-icon>delete</mat-icon>
          </button>
      </mat-cell>
    </ng-container>
  
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  
  </mat-table>

  <mat-paginator [pageSize]="10"  [pageSizeOptions]="[5, 10, 25, 100]" [length]="cantidad" (page)= "mostrarMas($event)"></mat-paginator>
</div>

  <button mat-fab color="accent" style="float:right" routerLink="/pages/signo/nuevo">
    <mat-icon>add</mat-icon>
  </button>
