<form class="example-container" [formGroup]="formRol" #frmRol="ngForm" (ngSubmit)="operar()">
    <div [hidden]="true">
        <mat-form-field class="example-full-width">
            <input matInput placeholder="ID" required formControlName="id">
        </mat-form-field>
    </div>

    <div [hidden]="true">
        <mat-form-field class="example-full-width">
            <input matInput placeholder="Descripcion" required formControlName="descripcion">
        </mat-form-field>
    </div>

    <mat-form-field class="example-full-width">            
        <input matInput placeholder="Nombre" minlength="3" required formControlName="nombre">             
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit" [disabled]="frmRol.invalid">
        <mat-icon>done</mat-icon>
        <span>Aceptar</span>
    </button>
    
    <button mat-raised-button color="accent" routerLink='/pages/rol' type="button">
        <mat-icon>close</mat-icon>
        <span>Cancelar</span>
    </button>
</form>
